.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header .content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;

  font-size: 18px;
  color: white;

}

.App-header nav a {
  color: white;
  text-decoration: none;
}

.App-header nav {
  padding: 20px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

.content-cards {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.card {
  padding: 20px;
  background: #f2f2f2;
  border-radius: 8px;
}

.card p {
  margin: 0;
  line-height: 23px;
  font-size: 14px;
  color: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}